<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image">Image:</label>
        <input type="file" name="image" id="image" required>
        <button type="submit">Upload</button>
    </form>
    
    <img src="{{ image.image.url }}" alt="Uploaded Image">
</body>
</html>
